#main{
	position: absolute;
	top: 10px;
	left: 10%;
	width: 80%;
	height: calc(100% - 20px);
}

div{
	border: 1px solid black;
}

#block1{
	position: inherit;
	width: 100%;
	height: 100px;
}

#block2{
	position: inherit;
	top: 100px;
	width: 120px;
	height: calc(100% - 160px);
}

#block3{
	position: inherit;
	top: 100px;
	left: 120px;
	width: calc(100% - 120px);
	height: calc(100% - 160px);
}

#block4{
	position: inherit;
	top: calc(100% - 60px);
	width: 100%;
	height: 60px;
}
