#main{
	position: absolute;
	left: calc(50% - 200px);
	width: 400px;
	text-align: center;
	line-height: 50px;
}

#block1{
	position: inherit;
	width: 15%;
	height: 50px;
	border: 1px solid black;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

#block2{
	position: inherit;
	left: 20%;
	width: 15%;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
}

#block3{
	position: inherit;
	left: 40%;
	width: 15%;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
}

#block4{
	position: inherit;
	left: 60%;
	width: 15%;
	height: 50px;
	border: 1px solid black;
	border-radius: 25px;
}

#block5{
	position: inherit;
	left: 80%;
	width: 15%;
	height: 50px;
	border: 1px solid black;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}