div{
	position: absolute;
	height: 100%;
	width: 100%;
	background: 
		repeating-linear-gradient(
			to right,
			rgba(255, 0, 0, 0.25),
			rgba(255, 0, 0, 0.25) 50px,
			rgba(255, 255, 255, 0.25) 50px,
			rgba(255, 255, 255, 0.25) 100px),

		repeating-linear-gradient(
			rgba(0, 255, 0, 0.25),
			rgba(0, 255, 0, 0.25) 50px,
			rgba(255, 255, 255, 0.25) 50px,
			rgba(255, 255, 255, 0.25) 100px);
}